{% extends 'Loginform.html.twig' %}
{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="image/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Welcome to <strong>SPORTIFLY</strong></h3>
                                <p class="mb-4">Meet your community and find your dream job</p>
                            </div>
                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            <form action="#" method="post">
                                <div class="form-group first">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                                </div>
                                <label for="inputPassword">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Sign in
                                </button>
                                <a href="{{ path('app_registercoach') }}">Registercoach</a>
                                <a href="{{ path('app_register') }}">Registeruser</a>

                                <div class="d-flex mb-5 align-items-center">

                                    <span class="ml-auto"><a href="{{ path('forgot') }}" class="forgot-pass">Forgot Password</a></span>
                                </div>
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}



                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>




                                <span class="d-block text-left my-4 text-muted"> or sign in with</span>

                                <div class="social-login">
                                    <a href="#" class="facebook">
                                        <span class="icon-facebook mr-3"></span>
                                    </a>
                                    <a href="#" class="twitter">
                                        <span class="icon-twitter mr-3"></span>
                                    </a>
                                    <a href="#" class="google">
                                        <span class="icon-google mr-3"></span>
                                    </a>
                                </div>
                                </form>
                            </form>


{% endblock %}
