{% extends 'base.html.twig' %}

{% block title  %} Liste Activités {% endblock %}
 {% block stylesheets %}


     <link rel="stylesheet" href="{{ asset('frontoffice/css/style.css') }}">
     <link rel="stylesheet" href="{{ asset('frontoffice/css/table.css') }}">

 {% endblock %}
{% block middle %}
    <div class="middle">

        <h4>List activités</h4>
        <a href="{{path('app_listoffrefront')}}" class="btn btn-primary" tabindex="-1" role="button">Back</a>




        <table class="styled-table">
            <thead>
            <tr>

                <td>offre_description</td>
                <td>id_res</td>
                <td>Date</td>
                <td><b>Refuser</b></td>
                <td><b>Accepter</b></td>



            </tr>
            </thead>

            <tbody>
            <tr>

                {% for i in 0..offre|length-1 %}
                {% if reservation[i] is defined%}
            <tr>
                {% if reservation[i].Status == "En Cours" %}
                <td> {{ offre[i].description }} </td>

                <td> {{ reservation[i].id }}</td>

                <td>{{ reservation[i].Date ? reservation[i].Date|date('Y-m-d') : '' }}</td>
                <td>  <a  href="{{ path('app_declinedemande',{'id':reservation[i].id}) }}"class="btn btn-primary" tabindex="-1" role="button"  >Refuser</a> </td>
                <td>  <a  href="{{ path('app_accepterdemande',{'id':reservation[i].id}) }}"class="btn btn-primary" tabindex="-1" role="button" >Accepter</a> </td>
                {% endif %}

            </tr>

            {% endif %}
            {% endfor %}
            </tr>

            <!-- and so on... -->
            </tbody>

        </table>

    </div>
{% endblock %}