{% extends 'base.html.twig' %}

{% block stylesheets %}
     <!-- ICONSCOUT CDN -->
     <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
     <!-- STYLESHEET -->
     <link rel="stylesheet" href="{{ asset('frontoffice/css/style.css') }}">
     <link rel="stylesheet" href="{{ asset('frontoffice/css/form.css') }}">


 {% endblock %}


{% block middle %}
    <div class="middle">
        <a href="{{path('app_listoffrefront')}}" class="btn btn-primary" tabindex="-1" role="button">Back</a>

        <!-- multistep form -->
        <div id="msform">
            <!-- progressbar -->

            <!-- fieldsets -->
            {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
            <fieldset>
                <h2 class="fs-title">Modifier Offre</h2>

                <div class="form-group">
                    {{ form_widget(form.description) }}
                    {{ form_errors(form.description) }}

                </div>
                <div class="form-group">

                    {{ form_widget(form.prix) }}
                    {{ form_errors(form.prix) }}

                </div>
                <br>
                <div class="form-group">
                    {{ form_errors(form.affiche) }}

                    {{ form_widget(form.affiche) }}
                </div>
                <br>

                <button class="btn btn-primary">
                    Modifier Offre
                </button>
                {{ form_end(form) }}
            </fieldset>


        </div>

    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}